# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
*.py[cod]
*$py.class

# Pytest / Coverage caches
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/
.env/

# IDE specific files
.vscode/
.idea/

# Project specific
data/output/